[2017-02-02 20:08] Yamakaky opened #2 "Parse module from VkShaderModuleCreateInfo"
`[VkShaderModuleCreateInfo](https://www.khronos.org/registry/vulkan/specs/1.0/man/html/VkShaderModuleCreateInfo.html)` allow us to get a &[u32]. How can I parse it with `rspirv`? `load` only supports `Vec<u8>`.
For the record, I'm working on https://github.com/Yamakaky/cendre.

[2017-02-02 20:24] Yamakaky commented on #2
I just did
[code]
It seems to work.

[2017-02-02 23:35] antiagainst commented on #2
Yep, that works. :)

It seems that another `load()` function taking `Vec<u32>` as parameter would be useful. I was doing all previous prototyping based on some shaders from disk, which is read in using `fs::File::read_to_end`. That signature requires `Vec<u8>`.

And another problem just occurred to me. `load()` should not require ownership of the passed in data. Actually taking `&[u8]` is better s

[2017-02-03 01:04] Yamakaky commented on #2
The spec defines spur as a stream of u32, so yeah it makes sense.

[2017-02-06 15:25] antiagainst commented on #2
This is done via https://github.com/google/rspirv/commit/742db903373849a8752821489208eedaf07d981a.

[2017-02-06 15:50] Yamakaky commented on #2
Cool!

[2017-02-06 15:50] #2 closed

[2017-02-09 20:16] antiagainst commented on #2
@Yamakaky: FYI, a new release [v0.3.0](https://crates.io/crates/rspirv/0.3.0) was published with the change incorporated. :)

[2017-02-09 20:18] Yamakaky opened #3 "Scope of rspirv"
For [cendre](https://github.com/Yamakaky/cendre), I'll have to execute the shaders in SPIR-V. Do you want to do something in common or is it out of the scope of what you want to do?

[2017-02-09 20:18] Yamakaky commented on #2
Just saw that ;)

[2017-02-09 20:51] antiagainst commented on #3
No, evaluating/running the SPIR-V module is not on my plate in the foreseeable future. :) I'm basically only interested at the IL level (SPIR-V and its manipulation, optimization, validation, etc.) and up (frond-end language GLSL/HLSL compilation to SPIR-V).

Evaluating/running SPIR-V modules requires Vulkan environment set up. That's a whole lot of new stuff to handle (managing resources, etc.).

[2017-02-09 20:57] Yamakaky commented on #3
Looking from http://llvm.org/docs/tutorial/BuildingAJIT1.html, writing a JIT compiler seems manageable. I'll have to write some C++ I think, though. The more difficult part would be to convert SPIR-V to LLVM IT, I think. https://github.com/KhronosGroup/SPIRV-LLVM seems to be able to do that, so it could be included in this crate ;)

[2017-02-10 01:38] antiagainst commented on #3
Ah, I didn't see your edited text previously. Sorry.

Now that sounds interesting to me. But going through SPIRV-LLVM may not be the way I'd prefer. As indicted in https://github.com/KhronosGroup/SPIRV-LLVM/issues/202, SPIRV-LLVM makes assumptions of the OpenGL environment, and it is a little bit difficult to add Vulkan backend to it. Actually I do intend to write a SPIR-V to LLVM translator from

[2017-02-10 02:22] Yamakaky commented on #3
Sorry, wrong phrasing: I didn't meant to include spirv-llvm in rspirv, I meant to add a spirv-llvm IR converter to rspirv ^^
I'm motivated to work on it, since I'll have to do it anyway for cendre, so we could do it together

[2017-02-10 04:22] antiagainst commented on #3
Yep, definitely!

[2017-02-10 04:48] Yamakaky commented on #3
As I see it, we can either do a direct `mr::Module` -> LLVM IR transformation, or first transform `mr::Module` to a tree IR and then convert it to LLVM's one. What do you prefer?

[2017-02-11 14:48] antiagainst commented on #3
@Yamakaky: sorry for the late reply. I think first translating the current representation into a new structured IR would be the preferred way. The current memory representation is essentially just a data representation, without any interconnections between various instructions. It is not convenient to use for future tasks like validation (cendre would also need this to sanitize the input I think),

[2017-02-11 15:34] Yamakaky commented on #3
In fact, there are a lot of things I don't have to check. See https://www.khronos.org/registry/vulkan/specs/1.0/html/vkspec.html#shader-modules, "Valid Usage" section. There are layers (provided by khronos) that verify the correct usage of the API, including SPIR-V shaders.
I agree for the rest.

[2017-02-11 19:08] Yamakaky commented on #3
I'm starting with the types.

[2017-02-11 21:47] antiagainst opened #5 "Structured representation"
Currently there is only a plain data representation (DR) implemented in this project. While it  introduces little overheads when working with the binary parser and is straightforward for investigating the contents of SPIR-V binaries, it has quite limited functionalities. Instructions are not interconnected; types are not hierarchicalized; metadata (decorations, debug instructions, etc.) are not li

[2017-02-12 13:17] antiagainst commented on #3
@Yamakaky: right, the driver is allowed to crash on spotting invalid usages of the API and also SPIR-V. However I would think if we can do more than just crashing in cendre it would be quite helpful for developers. A software implementation of Vulkan is more flexible; if it can print more diagnostics and pinpoint exactly what is wrong with my shaders that would be awesome for me as a developer.

[2017-02-12 15:55] Yamakaky commented on #3
The driver don't have to verify it because you can enable validation layers during testing. See https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/blob/master/loader/LoaderAndLayerInterface.md#layer-library-interface.

[2017-02-12 16:58] antiagainst commented on #3
@Yamakaky: Yep, you are right.

However, current existing validation layers are basically for catching API usage errors. SPIR-V validation is mainly done via spirv-val in [SPIRV-Tools](https://github.com/KhronosGroup/SPIRV-Tools). AFAIK, there is no validation layer wrapping around spirv-val to provide SPIR-V validation to Vulkan devs yet.

My previous suggestion was to integrate the SPIR-V valida

[2017-02-12 17:15] Yamakaky commented on #3
Fun fact: we also can do a validation layer around rspirv ;) Like the object lifetime layer, it could keep track of dynamic information.

Please continue suggesting thinks for cendre, including issues.

[2017-02-13 08:23] tedsta opened #6 "Builder decorate methods don't have a way to specify extra decorator operands"
https://github.com/google/rspirv/blob/a5a5d58385c7495df16407cb566cc51efbbd7213/rspirv/mr/build_annotation.rs#L21-L24

See https://www.khronos.org/registry/spir-v/specs/1.1/SPIRV.html#OpDecorate and https://www.khronos.org/registry/spir-v/specs/1.1/SPIRV.html#Decoration

Many decorations require additional operands. Strange that they don't include the extra operands in the SPIR-V grammar json. In p

[2017-02-13 11:46] antiagainst commented on #6
Ouch! I should definitely add tests for the builder. The decoder and parser are extensively covered by tests, but the builder I delayed it a little bit, thinking that they are basically automatically generated and should be fine. But apparently not.

Yep, the grammar doesn't directly encode additional parameters to decorations in the `OpDecorate` instruction (or its siblings). They are encoded in

[2017-02-13 12:05] antiagainst commented on #6
What is interesting is that if you check https://github.com/google/rspirv/commit/8411ea6bfb4ba03821bbaaba387715e1d5010ce9, the code removed were manually written and they did have the additional parameters. :)

[2017-02-13 19:02] tedsta commented on #6
Ahhh haha. I do like your code generation though. Pretty slick.

[2017-02-13 23:20] #6 closed

[2017-02-13 23:21] antiagainst commented on #6
Will push a new release soon

[2017-02-13 23:38] tedsta commented on #6
Sweet, thank you!

[2017-02-14 16:45] antiagainst commented on #6
Done. :)

[2017-02-19 15:58] rrika opened #7 "No way to make forward references with mr::Builder"
When building an if-else–construct using `branch_conditional(cond, true_label, false_label, …)` I need the OpLabel-ids before they are generated.

If branch_conditional returned `&mr::Instruction` and forward references were `Cell<Word>` instead of `Word` I could patch it later. Though this would allow anyone with a non-mut reference to mess things up.

[2017-02-19 16:12] rrika commented on #7
Never mind, I should’ve read the documentation. Though even if I use `builder.id()` how do I make a later basic block use exactly that id instead of the next auto-generated one? The builder gives no mutable references to any of the objects it creates, as far as I can tell.

[2017-02-19 23:55] antiagainst commented on #7
Yep, confirmed. This is a flaw in the current builder API. I knew forward references would bite me so I left some comments in the doc about it. However, the solution covers some case but not all. I'll fix the rest soon. :)

Returning an instruction to allow fixing up things later was truly the way I'd like to take previously. But after a second thought, wrapping all instructions with `Cell` introd

[2017-02-20 02:50] #7 closed

[2017-02-20 05:38] antiagainst commented on #7
Fixed. I'll push a new release after adding some more tests. :)

[2017-03-10 07:41] tedsta opened #8 "function parameters not being assembled"
https://github.com/google/rspirv/blob/master/rspirv/binary/assemble.rs#L118-L132

Found this after a few hours of debugging a crash when trying to run a generated spir-v binary in intel's experimental OpenCL 2.1 CPU driver. Wish they had a nice error message rather than just segfaulting!

[2017-03-10 14:37] antiagainst commented on #8
Ouch! That's a terrible oversight. I gonna fix it soon. Deeply sorry for the time loss caused by it! I should really write more tests to tighten these things to squeeze bugs out. I'll do that this weekend.

For preventing this happening again, [SPIR-V validator](https://github.com/KhronosGroup/SPIRV-Tools#validator) may do some good. Although it's basically for targeting graphics on Vulkan right n

[2017-03-10 17:50] tedsta commented on #8
No worries! Thanks for the tip, will try it out.

[2017-03-11 16:58] #8 closed

[2017-06-24 16:03] MaikKlein opened #11 "Reflecting on SPIRV"
I just want to reflect on SPIRV and I am not completely sure if I am doing the correct thing here.

I am trying to parse the following glsl code compiled as SPIRV.
[code]
I want to extract all information of all variables, but for this example I am only parsing the vector type.
[code]
This outputs
[code]
which is exactly what I wanted. But it felt very weird, am I using the API correctly? Or can t

[2017-06-24 18:25] MaikKlein commented on #11
I think this can be closed. I got a bit confused with IdRef, result_type and result_id but it is pretty obvious when reading though the disassembled view.

[2017-06-24 18:25] #11 closed

[2017-07-19 10:12] MaikKlein opened #14 "Should the builder cache types?"
For example:
[code]

results in

[code]

I expected just:

[code]
Should the builder cache types? Or should duplicate instructions be removed in a later stage?

[2017-07-19 15:48] antiagainst commented on #14
The SPIR-V spec requires that "[Non-structure types (scalars, vectors, arrays, etc.) with the same operand parameterization cannot be type aliases.](https://www.khronos.org/registry/spir-v/specs/1.0/SPIRV.html#_universal_validation_rules)" So it is actually invalid to have two <result-id>s for the `void` type.

However, it is arguable whether this kind of "semantic" validation checks should happen

[2017-07-19 16:03] antiagainst opened #15 "Multiple SPIR-V versions and target environments support"
Vulkan and OpenCL targets different versions of SPIR-V (1.0 and 1.1 right now, respectively). rspirv should be able to support multiple versions of SPIR-V and multiple target environments.

[2017-07-19 20:39] MaikKlein commented on #14
Okay sorry I haven't completely read the spec yet, I should probably do that now.

[2017-07-19 20:39] #14 closed

[2017-07-19 22:42] nicokoch opened #16 "Instruction: Derive Eq and Hash"
hey, for a personal project I need to store Instructions in a HashMap.

Can these derives be added to Instruction?

[2017-07-20 03:06] antiagainst commented on #16
That sounds good to me. :)

[2017-07-24 18:56] kvark opened #17 "Native translation to FXC binaries"
The FXC is not publicly specified, but there is some information about its structure:
http://timjones.io/blog/archive/2015/09/02/parsing-direct3d-shader-bytecode

It would be very nice to be able to generate it natively from SPIR-V. This would greatly improve the performance of (uncached) pipeline creation when working with API abstraction libraries that take SPIR-V input (https://github.com/gfx-r

[2017-07-25 02:17] jrmuizel commented on #17
Wine and https://github.com/GPUOpen-Tools/common-src-ShaderUtils/tree/master/DX10 should give you enough information to fully understand DXBC

[2017-07-25 04:57] antiagainst commented on #17
Contributions to add such functionalities into rspirv is definitely welcome! :-)

Just curious about DXBC vs. DXIL:

I'm more familiar with Vulkan/SPIR-V and its tooling than DirectX/DXBC. But I do have some experience with DXIL. (We are developing a SPIR-V codegen in DirectXShaderCompiler: https://github.com/Microsoft/DirectXShaderCompiler/issues/216.) AFAICT, DXIL is at a lower level than SPIR-V

[2017-08-01 06:57] MaikKlein opened #18 "Builder should probably use slices instead of Vec"
https://github.com/google/rspirv/blob/master/rspirv/mr/builder.rs#L270
[code]
Is there a reason why every 'list' is of type `interface: Vec<spirv::Word>`? I have looked a bit though your code base and it seems every occurrence can be replaced with a slice like `interface: &[spirv::Word]`.

[2017-08-01 13:59] antiagainst commented on #18
Yes, I agree. No particular reason to use `Vec` instead of slice. It's just back that time I've learned `Vec` first maybe. :)

[2017-08-02 02:29] kvark opened #19 "Validator"
We need a validator for SPIR-V code

[2017-08-02 02:31] kvark opened #20 "Fuzzy testing infrastructure"
Fuzzers are known to be good bug finders, proven useful for compression libraries and GLSL parsers. It would be great to have some fuzzy testing for `rspirv` as well.

[2017-08-03 08:19] neon64 opened #21 "Name of the crate"
First off, this isn't exactly an issue per se.

I was looking through my crates on `crates.io` and discovered I had a crate from 2 years ago named `spirv` - which I created just to support a hobby project before there were any other SPIR-V libraries in Rust. I haven't maintained it in ages and the code/features/testing/etc are quite obviously inferior to the fantastic work being done in this crate

[2017-08-03 15:52] antiagainst commented on #16
Hi @nicokoch,

I just checked it again. It is not very easy to

[2017-08-03 16:01] antiagainst commented on #16
Sorry, accidentally clicked on the "close and comment" button with a premature post (deleted).

I just checked again. It is not possible to `#derive[Eq]` for `mr::Operand`, which is used in `mr::Instruction`, because `mr::Operand` can contain a `f32` or `f64` value. `f32` and `f64` do not implement `Eq` or `Hash`.

We can implement `Eq` for `mr::Operand` manually, but is it necessary to use the wh

[2017-08-03 16:10] antiagainst commented on #21
Hi @neon64, much appreciated your generosity and kindness to transfer the `spirv` crate name! `spirv` sounds like a nicer name for the [header sub-crate](https://crates.io/crates/spirv_headers) in this repo. However, as you said, it is rather intrusive to change crate names under the current cargo/crate management settings. So I'm just not sure it worth the hassle.

[2017-08-03 17:23] antiagainst commented on #18
This is done now. Let me know if you find other places neglected if any.

[2017-08-03 17:23] #18 closed

[2017-08-04 00:07] neon64 commented on #21
Okay no worries.. Well maybe for now I'll just put a clear link to this project suggesting people go use it instead.

[2017-08-04 02:24] antiagainst commented on #21
Thanks @neon64! :)

[2017-08-06 15:12] nicokoch commented on #16
I'm not entirely sure. Partial information should work, but it should be as unique as possible.

[2017-08-10 16:49] kvark opened #22 "Address access sanitation"
We need a way of modifying the SPIR-V so that no resource access goes beyond the bounds, for the sake of GPUWeb security. Some of the checks could be omitted by doing a static analysis, but a general approach could be injecting the code that queries buffers/images dimensions and reset the address offset to 0 using a dynamic check for that address to be in the bounds.

[2017-08-21 11:13] MaikKlein opened #23 "Threaded code generation with mr::Builder"
I currently want to multi-thread my code generation, but Builder is inherently mutable. The simple solution would be to just wrap it in a mutex, but that would kill the performance.

One solution that I am thinking of is to create a separate builder object for every node that I traverse, then I would return the builder object and merge them together in the correct order.

The only problem that I s

[2017-08-22 02:54] antiagainst commented on #23
The above sounds good to me. Please feel free to modify and send pull requests! :)

Just keep it as `Arc<AtomicUsize>` would be fine for me. Let's change it to a more generic solution when demanded.

Nit: `append()` sounds more like attaching at the end of the builder; we actually want `merge()`.

[2017-10-08 14:11] MaikKlein opened #24 "Codegen for extinst.glsl.std.450.grammar.json"
https://github.com/KhronosGroup/SPIRV-Headers/blob/master/include/spirv/1.2/extinst.glsl.std.450.grammar.json

Should this also be included in the spirv-headers?

[2017-10-08 14:22] MaikKlein commented on #24
Oops sorry I didn't see it https://github.com/google/rspirv/blob/master/rspirv/grammar/glsl_std_450.rs

[2017-10-08 14:30] MaikKlein commented on #24
I have to reopen this issue. How do you lookup an opcode? I only see https://github.com/google/rspirv/blob/master/rspirv/grammar/glsl_std_450.rs

But that doesn't help me if I want to know the opcode for `Sqrt`. In my project, I am currently defining them manually like this

[code]
Because that is the id that is being used in [ext_inst](https://docs.rs/rspirv/0.4.0/rspirv/mr/struct.Builder.html#me

[2017-10-11 01:19] antiagainst commented on #24
Acknowledged. There are no way to get the opcode number from the symbolic opcode right now. Will add methods soon. :)

[2017-10-11 16:27] antiagainst commented on #24
Should be addressed by https://github.com/google/rspirv/commit/1e180a99034b900f6a35bc7b48c02ea6fa481f2a.

I'll close this. Let me know if more actions are needed. Thanks!

[2017-10-11 16:27] #24 closed

[2017-10-11 16:27] antiagainst commented on #24
I'll push a new release soon.

[2017-10-11 21:41] kvark commented on #22
@dneto0's experimental code in SPIRV-Tools: https://github.com/dneto0/SPIRV-Tools/tree/robust-access

[2017-10-12 02:22] antiagainst commented on #22
Cool! I'll take a look and find some time to working on rspirv.

Been quite absorbed by SPIR-V CodeGen in DirectXShaderCompiler recently. :)

[2017-10-12 09:43] MaikKlein commented on #24
@antiagainst Thanks! Could also push a new version of `rspirv`?

[2017-10-12 14:50] antiagainst commented on #24
@MaikKlein: published v0.5.0. Thanks! :)

[2018-04-15 15:39] dariost opened #28 "Update spirv_headers to version 1.3.1"
I've tried updating spirv_headers to version 1.3.1 with no luck (I was getting a `LiteralContextDependentNumber: this kind is not expected to be handled here`)
Now that Vulkan 1.1 supports SPIR-V 1.3 it would be nice if spirv_headers was upgraded to 1.3.1

[2018-04-16 15:17] antiagainst commented on #28
Thanks @dariost for the interest! I'll take a look.

[2018-04-20 23:14] antiagainst commented on #28
This is done in the master branch now. crates.io is also updated. Thanks!

[2018-04-20 23:14] #28 closed

[2018-08-19 20:38] caitp commented on #19
I had a few ideas for this. The premise of these ideas is, the validator would be built as a part of the rspirv library (Possibly behind a feature),  and the package would also include an application which consumes the validator API (providing nearly the same experience  as SPIRV-Tools' validator).

Being in a library could allow a developer to add additional scrutiny before allowing Vulkan or GL

[2018-09-10 13:19] fkaa opened #32 "unwrap() on ConsumerError(DetachedInstruction)"
I'm trying to parse a SPIR-V file generated by DXC, but getting error on parsing. Not sure if this is a rspirv or DXC issue.

[code]
<details>
 <summary>shader.spirv (disassembled)</summary>

[code]
</details>
<details>
 <summary>shader.hlsl</summary>

[code]
</details>
<details>
 <summary>stacktrace</summary>

[code]
</details>

[2018-09-11 07:46] fkaa commented on #32
So the crash happens on the last `OpStore` instruction and I think I've tracked it down to `OpPhi` [being treated as a block terminator](https://github.com/google/rspirv/blob/cddf49f43133d7b91091c2c99134bb51fdb4f8d9/rspirv/grammar/reflect.rs#L114) when it shouldn't ([spec](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#Branch))

[2018-09-11 14:28] #32 closed

[2018-09-13 14:21] kvark commented on #5
Please please make this happen! We've [started](https://github.com/gfx-rs/javelin) writing the SPIRV->MSL/DXBC/HLSL/GLSL/etc transpiler in Rust, and processing the raw SPIRV modules (that are just a bunch of `Instruction` things) is a huge pain.

I honestly don't see a compelling argument to 2. My choice would certainly be 1), given that:
  - you have the spec defining all the things, so you don't

[2018-09-14 01:08] antiagainst commented on #5
Thanks @kvark! I hear you. I'll look into putting some effort into implementing the structured representation. :)

[2019-02-11 02:43] thavlik opened #34 "Unable to run tests"
[code]

OS X 10.14.3
Stable branch; cargo 1.32.0 (8610973aa 2019-01-02); rustc 1.32.0 (9fda7c223 2019-01-16)

[2019-02-21 20:15] antiagainst commented on #34
There are multiple crates inside this repo. The `codegen` crate is intended to automatically generate code used by other crates. It uses SPIR-V JSON grammar from [SPIRV-Headers](https://github.com/KhronosGroup/SPIRV-Headers). So you'll need to `git submodule update --init` to clone the repo to build `codegen` crate. But `codegen` crate is something you don't need to bother if not modifying other c

[2019-02-21 20:15] #34 closed

[2019-02-24 16:25] thavlik commented on #34
Yep, `git submodule update --init` fixed it. Thank you.

[2019-02-24 16:32] thavlik opened #35 "`cargo build` for codegen outputs everything on one line"
When I open rspirv/sr/type_enum_check.rs, it looks like the following:

[code]

[2019-03-04 12:58] antiagainst commented on #35
Sorry for the late reply! The `codegen` crate is auto-generating various components in other crates by parsing the SPIR-V JSON grammar. (So you see the "AUTO GENERATED" comment at the beginning of the file.) It's quite ad-hoc right now. At the end of the build procedure I'm trying to run `rustfmt` to make it prettier. (https://github.com/google/rspirv/blob/master/codegen/build.rs#L47) So do you ha

[2019-03-14 13:45] kvark commented on #5
@antiagainst please don't forget about this. As we delay, spirv-cross is getting developed further, and it will be harder for us to catch up.

[2019-03-19 18:37] antiagainst commented on #5
Hey @kvark, I'm sorry I kept saying that I would like to devote some time to this but didn't really fulfilled. I recently moved onto working on TensorFlow and MLIR, so I'm not sure when I'll have time on this in the near future. But it's definitely on my plate. In the meantime, feel free to contribute! :)

[2019-07-03 14:45] kvark commented on #5
@antiagainst I'd really like to move this forward. If you don't have time and energy to do this, could you outline a rough plan for contributors to follow when implementing this? Would you also be able to review the changes?

[2019-07-04 20:59] antiagainst commented on #5
Hey @kvark, sorry for the late reply. I'm correctly busy with MLIR work so likely won't have the bandwidth here in the near future. But I'd certainly happy to help answering questions and reviewing pull requests.

[2019-07-15 03:26] kvark commented on #35
The warnings appear to already be in place, e.g.

And having the `rustfmt` (specifically, "rustfmt-nightly") in this day and age is pretty common.
I don't think there is anything more to do here (let me know otherwise!). Let's close this.

[2019-07-15 03:26] #35 closed

[2019-07-15 03:35] #21 closed

[2019-07-15 14:08] kvark opened #42 "Case against is_type() methods"
There is a large auto-generated section looking like:
[code]
It enumerates each and every enum variant.

What is the motivation behind this API? I think we could live without it. The more complex (and semantically rich) checks would stay and just pattern match internally:
[code]

[2019-07-15 14:10] kvark commented on #5
Looked at the state of this today. Apparently, most of the infrastructure is already in place:

- [x] types
- [x] decorations
- [x] constants
- [x] instructions
- [ ] modules, functions, etc

Do I understand correctly that we only need to get those root-level items (modules, functions, etc) now, after which we can implement conversion to/from the data representation? Or did you plan on working wit

[2019-07-16 12:53] antiagainst commented on #5
Firstly, regarding the current existing code for structured representation, it actually deviates from the design proposal as in the original post. Instead of doing trait objects, the existing code just uses memory arena and vectors and indexes into vectors. (I read several blog post regarding how to better model graphs using Rust; that seems the suggested way. But things may change now with the Ru

[2019-07-16 14:26] kvark commented on #5
Thanks for the detailed response!

I think it's working well. If we have, say, `Type` contain other types, we still *have to* have an indirection, because otherwise the compiler can't figure out the size (reasonably), i.e.
[code]
We could use `Box` though when referring to other types. This would make the memory access pattern worse, but ownership and general convenience would improve.
I'm plannin

[2019-07-16 19:13] kvark opened #45 "Improve codegen grammar typing"
The biggest gain would be having strongly typed parsing results, e.g.
`if let Class::ModeSetting = inst.class  { ... }` instead of `if inst.class = "ModeSetting" { ... }`

We should evaluate the cost bringing the dependency, the amount of code removed from here, and the benefits.

[2019-07-17 02:54] kvark opened #47 "Port "mr" generators to tokens"
The whole "codegen/mr.rs" is implemented to emit strings. This doesn't look nearly as tidy as `quote!`-based workflow of "codegen/sr.rs". We should make those consistent.

[2019-07-19 02:15] antiagainst commented on #47
+1. I discovered `quote!` after done the MR generation. It's definitely much better than manipulating strings directly, but didn't get the chance to covert the existing implementation.

[2019-07-19 02:53] antiagainst commented on #42
The rationale is that in compiler code base checking a type's value is quite prevalent. Just trying to throw out some line savings here by turning the 4-line `match` into one method call. It's small-ish per site, but it adds up. :)

Given this is already there; we can keep it. After coding more components out then we can re-evaluate the situation and delete it if it ends up not being used that muc

[2019-07-19 02:54] antiagainst commented on #45
I'm not sure which part you mean specifically?

[2019-07-19 02:58] antiagainst commented on #5
Yup, a progressive approach SGTM. We can gradually make more and more instructions stand-alone. :)

[2019-07-19 03:27] kvark commented on #45
Just realized it's already using serde-json. What confuses me is why `codegen::structs` module has all the things as `String`. Could stuff like `kind`, `quantifier`, and `class` be real enums instead of strings? That would improve codegen code quality a bit.

[2019-07-19 15:10] kvark opened #48 "Update to Rust2018 edition"

[2019-07-20 15:53] antiagainst commented on #48
Could you be a bit more specific what is proposed for this issue?

[2019-07-21 00:22] kvark commented on #48
Basically adding `edition = "2018"` to all the non-workspace "Cargo.toml"s and fixing the compile errors, which are mostly about the `use` statements.
See https://github.com/gfx-rs/gfx/pull/2839 for an example.

[2019-07-23 22:24] AIOOB opened #52 "Design Questions"
I've been looking around the codebase so that I can begin to make contributions, however, I have a few questions about the design that aren't immediately obvious:
1. Why are the data and structured representations seperate? As far as I can see `sr` is intended to be strictly stronger than `mr`.
1. Are there some specific use cases in mind for this library? I'm coming from `gfx-rs` so I am thinking

[2019-07-24 02:06] #48 closed

[2019-07-24 11:48] antiagainst commented on #52
Hey @AIOOB, thanks for your interest and certainly appreciate if you can contribute! :)

1. The data representation is intended to faithfully represent the SPIR-V binary module at a low-level for data inspection; while the structured representation is intended to represent the SPIR-V module at a high-level structured way to facilitate transformations. The former is suitable for use by disassembler

[2019-07-24 16:22] AIOOB commented on #52
Thank you very much, that's cleared up all the questions I have (so far!).

[2019-07-24 16:22] #52 closed

[2019-07-26 03:23] kvark opened #58 "Move OpPhi into BasicBlock"
The spec says that `OpPhi` has to appear within a block before any other instruction (except for "OpLabel", which is already hard-wired to the `BasicBlock`). Would it make sense to represent it as this?
[code]

[2019-07-26 03:40] kvark commented on #58
This would allow us to have a class on this Op (say "FunctionStruct"), which would in turn make the structured implementation more straightforward.

[2019-07-26 04:05] kvark commented on #58
@antiagainst please see the draft implementation in https://github.com/gfx-rs/rspirv/pull/46/commits/6541019b6404ac5227e246ef488dc7b901bf6f29

[2019-07-26 10:42] AIOOB commented on #58
If we were to do this then it would probably make sense to also make the label non-optional and have another field that stores the termination instruction that must be the last instruction in the block (and maybe even an optional merge that must be the second to last). These define a block so the only way you could end up not being able to make a block is if a function isn't followed by an  `OpLab

[2019-07-26 15:52] kvark commented on #58
The data representation is currently written (consistently!) in a way that makes most of the things optional (that are otherwise not by the spec). Addressing this, if requested, should be a separate effort/issue.

Saying that, the WIP structured representation (see #46) doesn't do it and instead makes required things be actually non-optional, so fixing the data representation isn't a huge priority

[2019-07-30 02:11] antiagainst commented on #58
I initially designed the DR as-is to also make it possible to have minimal verification in the parser itself and support invalid cases so that we can even import broken SPIR-V blobs and investigate what is wrong with it. Now I feel whether that's useful is up to debate. I'm not opposed to revisiting this if it become a burden to maintain. If to drop this guarantee, then mandating  the leading `OpL

[2019-07-30 19:15] kvark commented on #58
I don't mind DR going either way.
For SR, I think it would make a lot of sense to have `OpPhi` as a separate struct that is enforced to be at the beginning of a block. The way I'm doing it now, decision to treat an instruction as a separate struct is taken based on the class only. Currently, `OpPhi` doesn't have a class assigned, so we have the following choices:
  1. don't do anything with `OpPhi

[2019-07-30 23:02] AIOOB commented on #58
Shouldn't SR have its own BasicBlock type that can store all the extra information? I feel like that would solve the problem, although I may have misunderstood how the DR and SR are seperated.

[2019-07-31 16:18] kvark commented on #58
Yes, SR will have it's own block struct. It doesn't require DR to respect `OpPhi` in the same way, only choice (4) does that.

[2019-08-01 15:07] antiagainst commented on #58
Going more structured in SR makes sense for me (well that's the purpose)! So SGTM to have separate struct and place it at the beginning of BasicBlock SR.

I'm still not sold on changing DR to specially treat phi though. It's strange for us to only specially handle phi but not other terminators etc; it feels in an inconsistent state. If we want to do it, better to also consider having the terminato

[2019-08-01 22:34] kvark opened #65 "Make a pull request template"
We need to make the commit message guidelines more visible, see https://github.com/gfx-rs/rspirv/pull/63#issuecomment-517453886

[2019-08-02 02:15] kvark commented on #58
I'll just proceed with only recognizing OpPhi at the SR level. Thank you for your thoughts!

[2019-08-02 02:15] #58 closed

[2019-08-06 16:03] kvark commented on #42
Continuing from https://github.com/gfx-rs/rspirv/pull/67#issuecomment-518730528

I don't think this conflicts with the idea of having `Context` to de-duplicate the types. You can still do this:
[code]

But `is_*` method doesn't *give* you the properties, it just tells you if a type belongs to a particular kind. What if, say, I want to analyze SPIR-V types and map them to Metal types. I got `Type {

[2019-08-06 16:10] kvark opened #70 "Testing with real SPIR-V data"
We need a mechanism for testing (locally and on CI) the binary parser and DR -> SR conversion on some real data. Preferably, without including any actual SPIR-V modules in the repository, as requested by @antiagainst .

[2019-08-07 01:12] nifker opened #72 "Duplicated code in Disassemble"
From where is the code duplicated?
https://github.com/gfx-rs/rspirv/blob/master/rspirv/binary/disassemble.rs#L146-L170

[2019-08-08 12:32] AIOOB opened #81 "Licence headers out of date"
All of the license headers state `Copyright 2016 Google Inc.`.
I feel like these should be being updated to the year they were last modified at the least. I'm also unsure as to what the licensing situation is with this project: references to Google are slowly disappearing; and it's licensed solely under Apache v2, whereas most of the rust ecosystem is dual-licensed under MIT/Apache v2 (I'm not act

[2019-08-09 02:24] antiagainst commented on #81
I'm not a lawyer so I don't know all the nitty gritty on this; but I was told that the licence should be kept as-is when moving this project from google/ to gfx-rs/ and the code I wrote is copyrighted to Google. So I'd prefer to not open this can of worms. I think Apache v2 is permissive enough? Do you see any problem here?

For existing files, I think it makes sense to update the last updated tim

[2019-08-09 13:03] AIOOB commented on #81
I agree entirely I would prefer to change as little as possible.

The problem could be that downstream crates get forced to use Apache only as well, rather than the MIT/Apache mix that most will use. However, after reading both the licences I think it might be alright, although I'm not sure. We definitely can't put a NOTICE file in this repo because that puts conditions on all the downstream crate

[2019-08-09 13:27] AIOOB opened #84 "Build not dependent on code generation"
The way the code generation is currently set up means that it is possible to change the generation code, not build it and end up with the project in an inconsistent state. While this situation is unlikely, it would be really hard to spot (although it would be easy to fix). There are a few ways I can think to deal with this:
1. Document it, simplest and easiest, this problem is unlikely to come up

[2019-08-09 14:52] kvark commented on #84
I like (2) - it's simple to put in: just check that `git diff rspirv` is empty after the code gen.

[2019-08-09 20:23] #70 closed

[2019-08-09 20:24] #47 closed

[2019-08-14 15:27] kvark opened #89 "Optimize autogen build"
On my machine, touching `autogen` module comes with a 35 second waiting penalty. It would be very useful for our productivity to make it faster.

[2019-08-14 15:30] kvark commented on #89
First interesting discovery - my attempts to make SR autogen fast were not affecting the build times, because all SR takes less than 9 seconds of this time (20%). DR autogen is the rest.

Second discovery - all time is *actually* spent in `regex`. That seems promising to me.

[2019-08-15 03:30] #45 closed

[2019-08-15 04:09] #89 closed

[2019-08-15 04:43] antiagainst commented on #84
Agreed with @kvark. I think we can start with (2) first. Not opposing to (3) too. It's just right now the autogen stuff needs external `SPIRV-Headers` repo is used by both the `spirv_headers` create and `rspirv` crate. I'm not exactly sure how to structure it.

[2019-08-15 04:46] antiagainst commented on #65
Contributing.md is already updated with the conventions. AFAICT, pull template will pre-populate the pull request content. I'm not sure we want to pre-populate with the pull request guidance.

[2019-08-15 04:51] antiagainst commented on #89
Oh wow. `regex` is actually that bad? I didn't know about that. (Wasn't curious enough to do some profiling previously...)

[2019-08-15 14:39] kvark commented on #89
Half of that slow was due to `Regex::new()` being called every time (instead of cached). Another half in the fact that `Regex::replace_all` was slow.

[2019-08-15 14:45] #65 closed

[2019-08-18 14:42] jrmuizel opened #95 "Example from docs doesn't validate"
[code]

gives the following error when `spirv-val out.frag` is run.
[code]

[2019-08-19 15:55] antiagainst commented on #42
I think we are conflating multiple things here:
1. Whether having `is_*_type` checks is useful (which is what this issue about)
1. Whether we want to make Type construction only available via `Context`
1. Whether we want to expose the internals of `Type`
1. Whether we want to merge `Context` into `Module`

Let's discuss one at each time instead of mixing them together. :)

For 1.

As I said in the

[2019-08-19 16:01] kvark commented on #42
Thank you for the detailed response @antiagainst !

(1) I'm inclined to suggest that we re-add `is_type` checks if and when we'll need them. It's not obvious to me that we will. They may be common in C++ compiler world, but in Rust `match` is the answer.

(2) I don't think there is any confusion in being able to create a type without a context *as long as* you still have to register it (and obtain

[2019-08-19 16:37] antiagainst commented on #42
For 1

I don't think this is regarding what languages we choose unless Rust writes compilers differently than other languages, which I doubt is the case. :) The thing is, if we don't have these from the beginning, folks will just use `match` everywhere. I honestly don't see why writing four lines of code is better than one line? If it's not common I'm okay, but this is gonna be quite common... Rus

[2019-08-19 17:04] kvark commented on #42
(1) I guess I'm just missing the use-cases in my head. Would you happen to have some that would indicate the usefulness of `is_type` from either the user or our (implementors) perspective?

(2) It's clearly superior to me: this model means that the API surface of the library becomes much thinner and yet more powerful: it only needs to expose the `Type` and some `Context::add_type()` method (as opp

[2019-08-19 17:21] AIOOB commented on #42
1.
I agree with removing `is_type` methods mostly because I can't actually see them being all that useful, especially if we let the Type enum components public `if let [Type] = ...` is much more idiomatic and just as short. In any case, using match is encouraged throughout rust as it encourages slightly better style, and I feel that users rarely need a boolean about what type something is, it woul

[2019-08-20 04:11] liigo opened #96 "`Assemble::assemble(&self) -> Vec<u32>` always allocate heap memory"

[2019-08-21 02:12] antiagainst commented on #42
1.
@kvark:

For example, isn't this used frequently in instruction verifications? If I'm to verify that an `OpIAdd` has the current types for both operands, I think it would be easier to write something as `is_int_type() || is_int_vector_type()`. (This applies to all arithmetic instructions.) Another example, if we are verifying `OpSizeOf`'s pointer, I would think writing `is_scalar_type()` would

[2019-08-21 02:13] antiagainst commented on #42
Okay, I feel I'm becoming a blocker for you folks to making progress. :) Given that you are implementing this right now, I'm fine to go with what you think are fine and we can always revisit later. :)

[2019-08-21 20:39] kvark commented on #42
@antiagainst thank you for your feedback! On one hand, it's indeed hard to make quick progress (especially if both of me and @AIOOB are hacking around) when the review latency is high and the conceptual questions are not reaching consensus. On the other hand, if we start just landing whatever we have, we can easily end up with something that needs to be rewritten. Your advice is precious to us, pl

[2019-08-22 11:11] Jasper-Bekkers commented on #84
Fwiw, as a user of this library I wouldn't be a huge fan of (3). This library already drags in a whole bunch of extra dependencies through num & num-derive that I'm not super fond of.

[2019-08-22 14:26] kvark commented on #84
Shouldn't it be double-build (instead of triple)?
Also, I think this is less of a problem now as #90 landed - autogen is fast enough that it's not a problem to run it twice. Only affects developers, which are... just 3.5 people at the moment :)

[2019-08-22 15:48] #42 closed

[2019-08-24 12:01] antiagainst commented on #42
Certainly. I'd love to review every PR and chime in every issue, but I just feel I don't have enough bandwidth to do that timely recently. Totally agreed that we should have some good discussion around architectural issues and feel free to ping me on those. But I guess most of the time it's not that critical as we cannot change the course easily (like 1 & 2 in the above). So I value progress much

[2019-08-26 01:20] jrmuizel commented on #95
It seems like adding `b.capability(spirv::Capability::Shader);` should fix this.

[2019-08-26 22:18] AIOOB commented on #81
After spending some time looking into this, I'm now happy that using Apache 2 won't cause any issues for downstream users.
The simplest and in my opinion cleanest solution to the headers getting out of date is to remove them entirely, the Apache licence does not require headers (see [here](http://www.apache.org/dev/apply-license.html#copy-per-file)) and it isn't even a file-level licence. The only

[2019-08-27 10:37] #84 closed

[2019-08-29 04:05] #95 closed

[2019-08-29 04:07] kvark commented on #81
@AIOOB I've been discussing this a while ago for gfx-rs repo and decided to remove all headers from the source files (for the same reason - it *appears* to not required, although the wording can be interpret differently). I would appreciate `rspirv` also not carrying around that useless stuff at the start of the files.

[2019-09-04 22:56] antiagainst commented on #81
Thanks for taking the diligence to investigate this!

[2019-09-04 23:14] #81 closed

[2019-09-13 02:44] kvark opened #102 "Structured OpPhi representation"
This is how I understand `OpPhi` so far:
  1. It's only allowed at the start of a block, could be multiple instructions of this type.
  2. Every `OpPhi` carries a list of pars (source_block_id, value), where:
      - source_block_id is the basic block we get (to the current one) from
      - value - the value to select in case we got here from this source basic block
  3. There must be exactly as

[2019-09-15 14:45] kvark commented on #102
Talked to @jrmuizel about this approach and confirmed that this is how it's done in other SSA-based IRs, just called "block arguments". Leaving this issue as a TODO instead of RFC, will close once we get that implemented.

[2019-09-19 13:18] kvark opened #103 "Infer result types"
Being explicit about the result type in each instruction is redundant in most cases. There are exceptions, where the result type is a part of the semantics (to be added):
  - `OpCopyLogical`

I wonder if we could strip it away from SR, and just take special care of the exceptional instructions, by adding a more information in the instruction itself (e.g. a field in the instruction enum variant) ab

[2019-09-20 18:16] Skepfyr commented on #103
Won't the result type decorations affect the semantics?

[2019-09-20 18:18] kvark commented on #103
@Skepfyr yes, in a few cases. Currently `OpCopyLogical` is the only known (to me) case.
For these cases we could extend the Op to have some information about the return type, leaving the majority of Ops to be inferring their result types.

[2019-09-20 18:22] Skepfyr commented on #103
True, although what's the benefit, we would have to work through every operation, work out whether any decoration could possibly affect any semantics. And then, we would have to include it for the extended instruction sets anyway as we don't know what the instructions even are ahead of time.

[2019-09-20 18:24] kvark commented on #103
Obviously, this would only work if there is only a very few of those that we'd need to treat separately.

[2019-09-20 18:28] Skepfyr commented on #103
What do you mean by less work? The code would have to exist for the ones that it does semantically matter and performance really shouldn't be a concern (I'll happily be proven wrong on that front but only with some hard data).

[2019-09-20 18:29] Skepfyr commented on #103
In any case, I'm not sure we can assume as much as you are suggesting about the semantics that consumers care about.

[2019-09-24 02:38] antiagainst commented on #103
`OpCopyLogical` is just one of the examples. Others include the cast instructions like `OpBitcast`, `OpUConvert`, `OpSConvert`, `OpFConvert`, etc. There are quite a few ops; see the list in "3.32.11 Conversion Instructions".

I'm not a fan of having special cases in the core infrasturure for instructions, unless there is really a compelling reason. I think we should have a common infrasture that w

[2019-09-24 16:31] kvark commented on #103
Isn't that great? We could assign a class "Conversion" to them, which would clearly isolate the desired semantics.

Haven't we been doing this in one way or another? We were splitting all the instructions into different sets based on the semantics, so that we can have a richer expression of these instructions by the type system.

In most cases, result type is *redundant*. This means that whenever

[2019-09-26 20:22] Skepfyr opened #107 "Is rspirv too abstracted?"
`rspirv` is a binary to AST parser, but I'm not sure it looks like one any more. To me, it looks a lot larger and more complex than I would expect, just from an overhead PoV and also knowing how much it actually does atm.

The current complexity of the application makes a lot of things that it should be doing awkward and convoluted. The current error handling story is a bit of a mess (getting a li

[2019-09-27 03:38] kvark commented on #107
I appreciate the feedback, thank you! Could you try to transform it into a more actionable state, i.e. perhaps file separate issues for the parser error handling, autogen, and whatever else, so that we can find out a solution (instead of mixing it all up here).

[2019-09-27 11:27] Jasper-Bekkers opened #108 "Publish 1.3.5 of spirv-headers"
Now that #97 and #100 landed I would love to be able to depend on spiv-headers proper again. Would you mind publishing a new version?

[2019-09-27 12:54] kvark commented on #108
I don't have a problem with that. Changes seem backwards compatible. @antiagainst anything to check before we proceed?

[2019-10-02 00:38] antiagainst commented on #108
SGTM! Please feel free to proceed. The version number is tracking the spec version.  So the next one would be 1.4.1. One thing to keep in mind is that we use a custom verison of [core grammar](https://github.com/gfx-rs/rspirv/blob/master/autogen/external/spirv.core.grammar.json) (with categories added and adjusted a bunch of names there) so bumping the version will require manually merge upstream

[2019-10-02 03:01] #102 closed

[2019-10-02 07:42] Jasper-Bekkers commented on #108
Wouldn't it make sense to publish both 1.4.1 and 1.5.1 so we're up to date with the latest spec version as well?

[2019-10-07 18:40] Skepfyr opened #109 "Autogen customisation and value"
Currently, lots of bits of rspirv are generated from the JSON grammar, this is to allow fast and correct updating and bulk feature addition. However, as rspirv grows more and more of this will need to be customised, some of these may be able to be upstreamed into the grammar file, some will not. The goal of this issue is to make sure that the cost of these customisations doesn't exceed the value o

[2019-10-07 18:47] Skepfyr opened #110 "Type inference and updates"
If at any point you or someone else has implemented any form of type inference, automatic type updates, or large scale type checking, then it is worth considering that it could replace the current store of each operations type. Most operations perform simple type-level manipulations of input to output, so module/function level type inference is feasible. It was deemed simpler to keep the type of e

[2019-10-07 18:57] #103 closed

[2019-10-07 19:01] Skepfyr commented on #72
@antiagainst, I think you are the only one who can answer this. For reference, it is now here:
https://github.com/gfx-rs/rspirv/blob/master/rspirv/binary/disassemble.rs#L133-L153

[2019-10-07 19:02] Skepfyr opened #111 "DR and SR duplication and merging"
Currently, SR is built on top of DR, as DR is already written and it provides a useful and productive base to work on. However, SR may be simpler as a parser from binary blob form, so if SR is requiring large scale changes in DR code then it is worthwhile considering merging the two at that point to reduce duplicated effort.

[2019-10-07 19:03] Skepfyr commented on #107
I'm happy that there are now (or will be) processes to consider this and time to discuss it, so I'm raising the error handling issue explicitly and closing this.

[2019-10-07 19:03] #107 closed

[2019-10-07 19:23] Skepfyr opened #112 "SR error handling"
Currently, there are situations where `rspirv` can panic, it should not be possible to cause a panic from inputs to the libraries (any observed panic should be regarded as a bug). It also errors out very quickly for a specific class of error. I am proposing a new error handling strategy:
All issues with user input should be classed into three types: warnings, recoverable errors and unrecoverable e

[2019-10-07 19:25] Skepfyr commented on #17
This seems out of scope for `rspirv` but in scope for `javelin`, it might make sense to raise this there.

[2019-10-07 19:27] Skepfyr commented on #96
Could you expand on this? I would have thought that assembly would almost always need to allocate somewhere, although I guess the return type could be made generic. What is the motivation here?

[2019-10-07 19:37] Skepfyr opened #113 "Cargo.lock in tree"
I flip-flop randomly between believing that Cargo.lock should be included in a library repo, but I thought I'd raise this for discussion seen as it was mentioned in #100. The rust documentation does advise against it [(FAQ)](https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries), but I occasionally see a good argument for it. In general, I thi

[2019-10-08 13:40] kvark commented on #113
I think we should remove it, since this is a Rust library, and the end users will have their own lockfiles.

[2019-10-08 13:42] kvark commented on #96
My reading is that we shouldn't take responsibility of allocation here. Instead, we should either accept an existing `&mut Vec<>` or return an iterator, allowing the users to allocate.

[2019-10-08 13:43] kvark commented on #17
Interestingly, this issue was filed before Javelin existed :) Moving now

[2019-10-08 13:50] kvark commented on #112
Does it make sense to try continuing parsing a module upon seeing the first recoverable error? We know for sure this module is no good, and we know for sure that changes are needed. We might as well just return with the first encountered error, in which case it's the same as unrecoverable.

[2019-10-08 13:52] kvark commented on #111
I think DR has the following values today:
  1. it's good for bootstrapping SR
  2. it's fairly straightforward and sound in what it tries to do

However, when SR is there I don't think we'll see anybody wanting to use DR specifically as opposed to either raw spirv or SR. So in the long run we should probably just have just SR.

[2019-10-08 15:41] kvark opened #114 "Javelin requirements"
Javelin is the project of gfx-rs to get the shader translation done in pure Rust, announced [on the blog](https://gfx-rs.github.io/2019/07/13/javelin.html) some time ago. We want to implement it using the Structured Representation of #5 . Here is a rough list of use cases we need `rspirv` to support:
  1. Load an SPIR-V module and valide that it's valid, gracefully error handling invalid modules

[2019-10-08 21:16] Skepfyr commented on #112
It depends on whether we expect anyone to be doing real-time correction of the errors. There are definitely benefits to just erroring out as soon as we see the first error, but it provides much less information to a user.

[2019-10-08 21:17] kvark commented on #112
How do you see this real-time correction happening, and in what cases? Do you expect that the vector of correctable errors we return is complete, and by addressing each individual instruction the user will get a pass next time? If the user still have to iterate multiple times, then they might as well iterate on an error by error basis.

[2019-10-08 21:23] Skepfyr commented on #112
Now I've explained it I think it's less likely to be useful, and really the chances that we get an incorrect SPIR-V module should be really small, as they will almost always be generated from GLSL/HLSL/etc. However, in the general case, providing as many errors as possible per pass is generally much more useful, consider programming rust, if it only gave you the first error you hit it would take a

[2019-10-08 21:29] kvark commented on #112
I think we can look at WASM for inspiration here, not Rust.

Having an error in SPIR-V binary could mean that user's high-level code is wrong, but more likely this would happen if there is a bug in the high-level to SPIR-V translator. We shouldn't expect these bugs to be iteratively fixed in batches :)

[2019-10-13 13:40] antiagainst commented on #114
Nice! Thanks for writing this down, @kvark! It is much clear this way for everyone to understand the use cases we are driving for. We can use this as a master issue for other tasks and we might want to use GitHub Projects to organize certain tasks.

[2019-10-13 13:46] antiagainst commented on #114
I think as discussed previously, most of the tasks here are depending on a good structured representation and general infrastructure for analysis/transforrmation passes, execpt for 1), which right now we have a working solution. The existing parser and data representation was designed to provide good error handling (w.r.t. which word is problematic, etc.) but it completely ignores debug informatio

[2019-10-13 13:52] antiagainst commented on #113
We actually have a binary [`rspirv-dis`](https://github.com/gfx-rs/rspirv/blob/master/dis/main.rs) in tree. So this repo contains both libraries and binaries using workspaces. I'm not sure how does it plays out? Is it possible to make the lock file dis only?

[2019-10-13 14:00] antiagainst commented on #72
Ah, sorry, It has been long enough that I myself lost track... The comment may already be outdated with recent developements. (Yeah, should really use some good comments there.) So please just ignore it.

[2019-10-13 14:16] antiagainst commented on #72
Reading it a bit more, I remembered that I meant we have similar logic in `impl Disassemble for dr::BasicBlock` and `impl Disassemble for dr::Function`. Because of the `ExtInstSetTracker` thingie, I wasn't able to delegate the disassembling to `dr::Function`/`dr::BasicBlock`'s `dissassemble()` method directly. Clarified with https://github.com/gfx-rs/rspirv/commit/96bbb9f4925c8e23dde8c3cc83f2bda44

[2019-10-13 14:16] #72 closed

[2019-10-13 14:22] antiagainst commented on #108
Certainly. My previous point was that let's not omit 1.4.1 and jump to 1.5.1 directly. :) We should update to 1.5.1 to catch up with the spec for sure. :)

[2019-10-13 14:47] antiagainst commented on #109
+100. Nice list! I love this. :)

I think it would be nice to avoid having an in-tree `spirv.core.grammar.json` as a first step. The modifications in the  in-tree `spirv.core.grammar.json` mainly fall into two categories: assign categories to instructions so we can handle similar instructions in a batch using their category. I think this part is upstreamable. The other changes are mainly for adjus

[2019-10-13 16:56] kvark commented on #113
Let's just keep the lock then.

[2019-10-20 15:55] jpryne commented on #5
I've begun working through rspirv, & will devote my time to moving this forward.

[2019-10-20 17:48] kvark commented on #5
Awesome, welcome to the party @jpryne ! You probably want to start off #106

[2019-10-21 15:12] Jasper-Bekkers commented on #108
I've submitted 2 PRs #115 and #116 that update the json files.

[2019-10-26 11:46] MaikKlein opened #117 "0.5.x doesn't compile anymore"
[code]

There was a breaking change in spirv_headers 1.3 to 1.4 where `DecorateStringGOOGLE` got renamed.

Temporary workaround is to fix the cargo.lock file to point to `1.3.4` instead.

[2019-10-26 12:05] MaikKlein commented on #117
Might be safer to always do a major version increment for a new release, and do something like `2.0+1.5`.

[2019-10-26 12:09] Jasper-Bekkers commented on #117
My PR removed Op::DecorateStringGOOGLE in favor of OpDecorateString because they are defined in an enum and have identical values.

[2019-10-27 21:48] Skepfyr commented on #117
So, I'm pretty sure, we should technically be yanking the version of spirv_headers as we just broke semver, however that puts us in a tight spot around the fact that the API version matches the crate version. This can't be true any more, so I think we need to come up with a better versioning scheme for spirv_headers. I can easily see cases where we want to update the crate of an older SPIR-V versi

[2019-10-28 10:38] Jasper-Bekkers commented on #117
The other alternative is to not try to make it work with semver to begin with since upstream can't guarantee it either and recommend strict versioning for this crate instead.

[2019-10-28 20:07] Skepfyr commented on #117
Unfortunately, that's not an option, Cargo and anyone using the library will assume semver, that's not a contract we can break.
I asked around a bit and another suggested solution is to have a different module for each version, possibly elevating (i.e reexporting it at root) the latest version to make updates more normal.

[2019-10-31 13:50] kvark commented on #117
@Skepfyr we need to yank the breaking version until a solution is in place...
@antiagainst could you add me to `crates.io` owners of the crates?

[2019-10-31 14:31] antiagainst commented on #117
Yanked 1.4.1 for now.

[2019-11-03 12:32] Skepfyr commented on #117
I had a look around and I couldn't find the SPIR-V versioning scheme, if someone could find this it would be really helpful. It is very possible they aren't following semver, which could bite us badly if a change comes that breaks that promise. I agree that the current scheme is the simplest, although the unified spec may hint that we should be approaching this differently. However, my main issue

[2020-02-14 03:38] #113 closed

[2020-02-15 08:26] azriel91 commented on #108
Heya, please may I bump this :wave:. The current `spirv_headers` version on crates.io depends on `num-derive 0.1.44` which brings in `syn 0.12.15`. I'm slowly chewing through updating the Rust ecosystem :smile:

[2020-02-18 18:07] kvark commented on #108
@azriel91 so you are blocked on #116?

[2020-02-18 19:26] azriel91 commented on #108
Heya, yeaps.

[2020-02-19 00:25] antiagainst commented on #117
I'm working on fixing this bug by generating associated constants for the duplicated op symbols now.

[2020-02-19 02:48] #117 closed

[2020-02-19 03:21] antiagainst commented on #108
The `syn` dependency is due to `derive_more` used by `rspirv`. If one bumps the version of `derive_more` to `0.99` then `syn` will go away. But that results in some compilation failures I haven't gotten time to look into it.

[2020-02-19 03:44] azriel91 commented on #108
ah, I can do that -- am comfortable with `syn`.

[2020-02-19 04:23] azriel91 opened #120 "Update `derive_more` when it is ready"
Spawned out of https://github.com/gfx-rs/rspirv/issues/108

In order to reduce the number of compilations for `syn` of different versions, it would be useful to upgrade `derive_more 0.15`, as it depends on `syn 0.15`. However `derive_more 0.99` which uses `syn 1.0` is not usable right now because:

* For `derive_more::From`, multiple variants with the same fields will have conflicting implementati

[2020-02-19 04:24] azriel91 commented on #120
This isn't really actionable, more of a record so we know why we're on an older version of `syn` / `derive_more`.

[2020-02-19 04:24] #120 closed

[2020-02-20 15:53] vtavernier opened #121 "OperandExceeded when using specialization constants in work group size"
## Context

Given the following GLSL compute shader which defines its work group size using specialization constant 0:

[code]

Compiling it using shaderc result in the following (disassembled using spirv-dis) SPIR-V file:

[code]

## Expected behavior

Parsing the module using rspirv succeeds.

## Observed behavior

Trying to parse the resulting binary module with rspirv results in the following

[2020-03-08 15:39] carado opened #122 "mismatched types using rspirv 0.5.4 on latest nightly rustc"
Hi,
When creating a simple project with the latest nightly rustc (1.43.0-nightly (823ff8cf1 2020-03-07)), cargo fails to build rspirv as a dependency due to a type mismatch.
[code]

[2020-03-09 18:12] kvark commented on #122
I'm a bit confused about how this passed CI to get in?..

[2020-03-09 19:23] antiagainst commented on #122
Okay, this is another breaking issue from [v1.3.4](https://docs.rs/crate/spirv_headers/1.3.4/source/spirv.rs) to [v1.4.1](https://docs.rs/crate/spirv_headers/1.4.1/source/autogen_spirv.rs): the types of `MAJOR_VERSION`/`MINOR_VERSION` were changed. I should have caught that in code reviews.

rspirv 0.5.4 is expected to work with [spirv_headers v1.3](https://docs.rs/crate/rspirv/0.5.4/source/Cargo.

[2020-03-09 19:44] antiagainst commented on #122
Actually, should go up to v0.6.0 with a bunch of breaking changes in rspirv itself. It might not be able to do anything regarding v0.5.4 anymore at the moment except yanking it.

[2020-03-09 19:50] antiagainst commented on #122
Published v.6.0. Closing this one now.

[2020-03-09 19:50] #122 closed

[2020-03-16 13:23] kvark opened #123 "Derive serialization for the types in spirv-headers"
Would be great to have an optional `serde` feature, which makes all the types from headers to derive serialization.

[2020-03-27 13:45] kvark opened #126 "Fix CI failure on nightly with rustfmt"
https://travis-ci.org/github/gfx-rs/rspirv/jobs/667493315?utm_medium=notification&utm_source=github_status

Looks like we need to have Nightly failable, or better - just not try to use rustfmt on nightly target.

[2020-04-30 00:35] #126 closed

[2020-04-30 21:09] paulkernfeld commented on #123
I think this is now implemented by #125 👍

[2020-04-30 21:14] #123 closed

[2020-05-05 20:00] paulkernfeld commented on #96
I see that there are a lot of uses of `Vec` throughout `rspirv` crate. So, even if `Assemble::assemble` didn't allocate, the crate would still need to make a lot of allocations internally. @liigo would this still be helpful to you?

[2020-05-06 00:41] liigo commented on #96
yes, thank you.

[2020-06-16 22:07] Lichtso opened #131 "sr::gen_sr_code_from_instruction_grammar generates wrong type"
The `ty` field of `rspirv::sr::Type::Pointer` is wrong: It should be `Token<Type>` but is generated as `spirv::Word` instead.

[2020-06-21 11:48] Jasper-Bekkers commented on #108
Closing because 1.5 got merged to master now.

[2020-06-21 11:52] #108 closed

[2020-08-07 11:45] Jasper-Bekkers opened #143 "Publish a new version of rspirv"
Now that SPIR-V 1.5 has been in mainline for a while, we should probably publish a new version of this crate.

[2020-08-07 13:22] kvark commented on #143
Just make sure to triage the issues that could have impacted the API, to see if they need to be solved before publishing

[2020-08-08 07:47] Jasper-Bekkers commented on #143
I can take a look at #131 and  #121, but I think neither should be show stoppers for a release.

[2020-08-08 08:00] Jasper-Bekkers commented on #143
Do we need @antiagainst to push a new version or can you do it @kvark ?

[2020-08-08 12:17] antiagainst commented on #143
Thanks @Jasper-Bekkers and @kvark for taking of the issues! Unfortuantely I won't have the bandwidth to come back to this. I've invited @kvark on crates.io so he should be able to publish new versions now. :)

[2020-08-09 14:04] kvark commented on #143
@antiagainst thank you!
I'm fine publishing spirv_headers, but I'm not feeling positive about publishing `rspirv` itself, since we aren't using it anywhere. Perhaps, it would make sense to share the publishing joy of it with @Jasper-Bekkers ?

[2020-08-10 14:47] Jasper-Bekkers opened #144 "Re-export spirv_headers from rspirv."
Feedback from @khyperia

[2020-08-10 14:52] Jasper-Bekkers commented on #143
@kvark fwiw, we've been using latest on a few internal projects both at Traverse Research and Embark Studios now.

[2020-08-10 22:00] #144 closed

[2020-08-16 14:28] Jasper-Bekkers commented on #121
@vtavernier Could you take a look at the PR and see if it fixes your issue? I think we were parsing OpSpecConstantOp incorrectly before.

[2020-08-16 14:47] Jasper-Bekkers commented on #131
@Lichtso Could you review #152 and see if it fixes your use-case?

[2020-08-17 09:16] Lichtso commented on #131
Looks good to me, thanks!

[2020-08-17 09:51] vtavernier commented on #121
The PR indeed fixes the issue, thanks!

[2020-08-19 07:34] #121 closed

[2020-08-19 07:35] Jasper-Bekkers commented on #131
Perfect.

[2020-08-19 07:35] #131 closed

[2020-08-19 07:36] Jasper-Bekkers commented on #114
@kvark @antiagainst now that this development has moved to naga, can we close this?

[2020-08-19 17:40] #114 closed

[2020-08-20 19:52] charles-r-earp opened #154 "Frontend, Rust / LLVM to SPIR-V?"
Are there any plans to compile Rust to SPIR-V? Given that this is a Rust project it seems weird to me to have to write code in another language. In particular, that means that it's impossible to share code between cpu and gpu implementations for compute. It should be possible to go from Rust -> LLVM -> SPIR-V. Then you have a full pipeline.

[2020-09-02 11:58] arirawr opened #160 "Transfer ownership & maintenance to EmbarkStudios"
A few engineers from Embark (primarily @Jasper-Bekkers and @khyperia) have been submitting changes to this repo for a while, and we're actively depending on it for our work. As gfx-rs no longer depends on it, we thought it would make sense to transfer the repo over to the EmbarkStudios organisation.

Changes would be as follows:
- [ ] Transfer the repo itself to [EmbarkStudios](https://github.com/

[2020-09-12 02:30] jon-chuang opened #164 "LLVM-IR/MIR to SPIR-V?"
Such tools exist [in C](https://github.com/KhronosGroup/SPIRV-LLVM-Translator) and the opposite direction was listed as a possibility.

So how likely is this direction?

[2020-09-12 21:57] antiagainst commented on #160
Hi, it's great to see that rspirv being useful to you folks and thanks for the contribution and maintanance! If gfx-rs is not interested in hosting this repo anymore, I'm wondering whether moving it back to my personal account is a workable solution for you folks. I'm happy to give all necessary admin rights so you can shape the project to faciliate your use cases. I don't have the bandwidth to ac

[2020-09-13 13:37] antiagainst commented on #164
Hi thanks for the interest! Please note that SPIR-V is just a common intermediate langauge used by many APIs like Vulkan/OpenGL/OpenCL. So it typically depends on which flavor of SPIR-V you are talking about when thinking about this kind of conversions because it involves semantics. Also what's the scope of the incoming LLVM IR/MLIR. But anyway, converting LLVM IR to SPIR-V is a non-trivial task t

[2020-09-13 13:37] #164 closed

[2020-10-02 11:42] arirawr commented on #160
Hey @antiagainst - thanks for the response.
It doesn't make too much difference to us whether it's on the gfx org or your personal account, so I'll let you and @kvark decide that 😄
I'll go ahead and close this issue.
Thanks again for your work on the project 🎉

[2020-10-02 11:42] #160 closed

[2020-10-02 14:10] kvark commented on #160
@antiagainst if we transfer it back to you, would you still review `spirv_headers` changes at least?

[2020-10-07 12:33] Jasper-Bekkers commented on #96
I think  #165 fixes this.

[2020-10-07 12:33] #96 closed

[2020-11-20 09:47] XAMPPRocky opened #172 "Update derive_more dependency"
Currently the `derive_more` dependency is pretty old (`0.15` when the current version is `0.99`), and is currently causing a lot of duplicate subdependencies in `rust-gpu`, which is using newer versions of the same dependencies `derive_more` depends on. I tried to update it myself to make a PR, but there has been some breaking changes in what `derive_more` generates, and it breaks some of the auto

[2020-11-20 09:52] MarijnS95 commented on #172
Hi @XAMPPRocky, I've previously [explored](https://github.com/gfx-rs/rspirv/pull/142#issuecomment-668042364) this path and the problem is that newer `derive_more` does not omit duplicate `impl From<>`, instead requiring us to manually add `#[from(ignore)]`.

Either:
- We take this issue to `derive_more` and ask to reintroduce this behaviour;
- Add some extra logic in the autogenerator to emit `#[f

[2020-11-20 10:12] XAMPPRocky commented on #172
Well I'm not the maintainer, but I think a reasonable proposal could be adding a container level parameter for the `from_derive` that provides this behaviour.

[code]

I'd maybe go step further at that point and auto-generate the `From` impl in the crate and remove `derive_more` as a dependency entirely.

Another option might be to move the `derive_more` crate into the `autogen` crate, and call th

[2020-11-20 16:35] MarijnS95 commented on #172
@XAMPPRocky I really like the idea of calling `derive_more::from_derive` at regen/autogen time to get rid of the "runtime" dependency completely. The signature takes and generates a `TokenStream` making it really easy to plug into the current solution. However, `derive_more` is a `proc-macro = true` crate, imposing all kinds of nasty restrictions on exports.

Working around that results in:
[code]

[2020-12-14 15:50] Boscop opened #176 "Parsing with `parse_bytes` fails but shader runs with opengl"
I'm trying to get a list of entry points of the shader like this:
[code]
But it fails with

When I use spirv-dis to get the entry points:
[code]
it works and the shader runs (with opengl/glium).

(Although the shader doesn't render what it should, I'm not sure if it's related.)

[minimal_vr.spv.zip](https://github.com/gfx-rs/rspirv/files/5689897/minimal_vr.spv.zip)

[2020-12-14 16:14] khyperia commented on #176
This panics with your error on `0.7.0`, but runs successfully on `master`. Please use `master` until a new version is released.

[2020-12-14 16:14] #176 closed

[2020-12-14 16:23] khyperia commented on #176
Just checked, the problem is an `OpConstant` for an 8 byte integer, which was fixed in https://github.com/gfx-rs/rspirv/pull/163

[2021-01-06 09:04] Danielmelody commented on #19
It is 2021, any efforts remained?

[2021-01-06 16:40] grovesNL commented on #19
@Danielmelody not in rspirv, but it's pretty easy to use spirv-val from Rust now, which is able to validate SPIR-V. [spirv-tools-rs](https://github.com/EmbarkStudios/spirv-tools-rs) contains bindings for spirv-val and some of the other tools from [SPIR-V Tools](https://github.com/KhronosGroup/SPIRV-Tools).

[2021-01-12 00:44] #172 closed

[2021-04-02 08:17] eddyb opened #189 "Floating-point literals should store bits in integers, not use host f32/f64."
Compilers should never rely on host floating-point support, as that can lead to host-specific behavioral subtleties (instead of behavior being deterministically tied to the target architecture/platform), and in many cases there's not enough to gain to even look into what guarantees certain host architectures/platforms may offer.

For `rustc` we ported LLVM's C++ `APFloat` library to Rust (for e.g.

[2021-04-21 05:44] XAMPPRocky opened #191 "New spirv_headers release"
It would be nice if we could release a new version of `spirv_headers` on crates.io, as I would like to be able to use it in `#[no_std]` environments without having to patch.

[2021-04-22 10:10] XAMPPRocky opened #192 "ImageFormat::Rgb10a2ui use inconsistent casing."
Notice how `ImageFormat::Rgb10A2` and `ImageFormat::Rgb10a2ui` have a differently cased `A`, in Rust the casing starts at the beginning of each word. The former is correct and `Rgb10a2ui` should be `Rgb10A2ui` .

[2021-04-22 10:13] MarijnS95 commented on #192
It doesn't help that the casing is wrong in the SPIR-V grammar JSON:

https://github.com/KhronosGroup/SPIRV-Headers/blob/dafead1765f6c1a5f9f8a76387dcb2abe4e54acd/include/spirv/unified1/spirv.core.grammar.json#L9015

https://github.com/KhronosGroup/SPIRV-Headers/blob/dafead1765f6c1a5f9f8a76387dcb2abe4e54acd/include/spirv/unified1/spirv.core.grammar.json#L9130

[2021-04-22 10:13] MarijnS95 commented on #192
By the way, shouldn't the `U` in `Ui` be capitalized as well?

[2021-04-22 10:20] XAMPPRocky commented on #192
Good question, I don't think so based on how these formats are cased in GLSL, you can see it's specified as `rgb_10a2` and `rgb_10a2ui`, which to me would imply that you're supposed to treat `a2` and `a2ui` as whole words.

https://www.khronos.org/opengl/wiki/Image_Load_Store

[2021-04-22 10:35] MarijnS95 commented on #192
Hmm, complicated. @XAMPPRocky are we looking at this from a [Rust naming conventions](https://doc.rust-lang.org/1.0.0/style/style/naming/README.html) or GLSL/SPIR-V naming perspective? That link implies the entire thing to be lowercase while the autogenerator here seems to take the grammar name verbatim.

[2021-05-05 20:42] Jasper-Bekkers commented on #191
Just released 1.5.1 of spirv_headers and 0.8.0 of rspirv

[2021-05-05 20:42] #191 closed

[2021-05-05 20:52] Jasper-Bekkers commented on #189
@eddyb do you have any examples of where this is done wrong? Is it just the `constant_f32` functions and `LiteralFloat32` etc?

[2021-05-05 21:42] kvark opened #196 "Published 1.5.1 broke public API"
https://docs.rs/spirv_headers/1.5.0/spirv_headers/enum.ExecutionMode.html#method.required_capabilities is gone.
See also - https://github.com/gfx-rs/naga/issues/836
cc @Jasper-Bekkers

[2021-05-05 21:46] Jasper-Bekkers commented on #196
spirv_headers don't follow semantic versioning so breakage like this is sort-of unavoidable without some changes to the policy of this project :-(

We've run into this before with #117

[2021-05-05 21:50] Jasper-Bekkers commented on #196
For reference - required_capabilities and required_extensions got moved into `Operand` instead because there can be multiple capabilties or extensions required.

[2021-05-05 21:50] kvark commented on #196
Wait, #117 was actually fixed, and sanity was restored. Are you saying that the current breakage is intended?

[2021-05-05 21:51] Jasper-Bekkers commented on #196
In #117 a workaround got introduced to not break semver, however in this case I'm not sure we can (see previous comment).

[2021-05-05 21:53] Jasper-Bekkers commented on #196
It's specifically [this](https://github.com/gfx-rs/rspirv/issues/117#issuecomment-548401092) comment that explains why we're in this spot though I'm not a big fan (for obvious reasons).

[2021-05-05 22:09] antiagainst commented on #196
That comment was made quite some time ago when we saw the first breakage. Things do change and I'm certainly not trying to hold back improvements. :) We had similar discussions in another thread later (see [here](https://github.com/google/swiftshader/blob/72b1f01722ce8567212f931a189e439c59b8d731/src/Vulkan/libVulkan.cpp#L159)) where I suggested to retire the `spirv_headers` create and use the `spi

[2021-05-05 22:15] Jasper-Bekkers opened #197 "Switch spirv_headers to SemVer"
See #117 and #196

Because spirv_headers doesn't follow SemVer, making changes to it, and keeping downstream dependencies from breaking we should switch over to SemVer and ditch the Vulkan / SPIR-V numbering scheme and instead just document which SPIR-V version corresponds to the current crate version. This should solve most of the problems in the future (but may introduce some confusion around wh

[2021-05-05 22:17] Jasper-Bekkers commented on #196
@antiagainst Agreed, filed #197 for further discussion around how to proceed :-)

[2021-05-05 22:19] antiagainst commented on #21
Hey @neon64, are you still willing to shift the ownership of the `spirv` crate to us now? Previously there isn't a need, but now it looks the need does arise: `spirv_headers` is using the SPIR-V version as the crate version; it has seen a few breakages thus far due to the differences from semver. It might be better to start with a clean slate to push to `spirv` crate where we can adopt semver from

[2021-05-05 22:23] Jasper-Bekkers commented on #197
If we wanted to continue to encode the spirv spec - we might be able to encode it into the patch version instead. However, I'd much rather just stick to regular SemVer without any fancy additions like this.

@antiagainst also suggested just publishing this crate under a new name (`spirv` instead of `spirv_headers`) and starting over with semver. Though personally I'd also be fine with just bumping

[2021-05-05 22:24] antiagainst commented on #197
I've pinged @neon64 on #21 regarding the `spirv` crate. Hopefully we can switch to that crate with a clean slate. Or we can also start with v2 of `spirv_headers` and using that going from now. My preference is the first; but either way works for me.

[2021-05-05 22:29] Jasper-Bekkers commented on #197
To restore some order to the world I'll yank both rspriv 0.8.0 and spirv_headers 1.5.1 while we wait for a reply. (And alternatively just publish v2 of spirv_headers right after, if we care) so we can work this out in the meantime.

[2021-05-05 22:30] kvark commented on #197
much appreciated, thank you!

[2021-05-05 22:38] neon64 commented on #21
@antiagainst I'd be fine to transfer ownership. Which username(s) should I invite?

[2021-05-05 22:41] eddyb commented on #189
Right, and loading code like this: https://github.com/gfx-rs/rspirv/blob/719cf08e4af0436242707479e3509add5ec3d514/rspirv/binary/decoder.rs#L205-L219

Basically the types `f32` and `f64` should more or less not show up in `rspirv` (except maybe for `fmt::Debug`?).

[2021-05-05 22:45] Jasper-Bekkers commented on #21
@Jasper-Bekkers, @kvark and @antiagainst at least I think :-)

[2021-05-05 22:45] antiagainst commented on #21
Yes. Thanks @neon64!

[2021-05-17 20:37] kvark opened #198 "Rename "required_capabilities" for clarity"
The name implies that all of the capabilities are required, while in fact *any* of them are sufficient.
Maybe we should call it `enabled_by_capabilities` or something similar? It would be nice to get for the new `spirv` crate name :)
Also need to check if `required_extensions` is subject to this.

[2021-06-26 09:58] Rua opened #201 "`IdResult` and `IdResultType` on SR?"
It seems that these operands are explicitly skipped in the structured representation. What is the reason for this? I would find it useful to have access to these as well.

[2021-07-03 09:13] hrydgard opened #202 "Publish rspirv 0.8 ?"
According to https://github.com/gfx-rs/rspirv/blob/master/rspirv/Cargo.toml , rspirv is at 0.8 , but the published crate is still stuck at 0.7. That doesn't seem right?

[2021-07-03 09:14] hrydgard commented on #202
Oh, I see, this is stuck on https://github.com/gfx-rs/rspirv/issues/197#issuecomment-833091289 ...

[2021-07-05 07:58] MarijnS95 commented on #197
We could possibly use [Version Metadata](https://doc.rust-lang.org/cargo/reference/resolver.html#version-metadata) to include the spirv version, that ends up looking like `0.8.0+1.5.2` (useful in crate and perhaps tag history). This metadata is only informational and otherwise ignored, `cargo` even recommends _against_ specifying it in `[dependencies]`.

[2021-07-27 14:26] #197 closed

[2021-07-27 14:26] #202 closed

[2021-08-01 04:31] incertia opened #209 "LiftContext::convert struggles with linked multi-stage SPIRV"
The two test shaders are identical.
[code]

[code]

We have a simple test driver that attempts to convert modules.
[code]
`spirv-dis` does not report anything out of the ordinary.
[code]
I'm not quite sure why we are attempting to create ID 1 twice.

[2021-09-03 15:50] Rua opened #214 "Unable to retrieve decorations in structured representation"
`Op::Decorate` gives `target` as just a word (number), and since ids are lost in SR, there's no way to figure out what the decoration belongs to.

[2021-09-03 15:53] MarijnS95 commented on #214
As per the readme the SR is still under development (or rather: no-one seems to need/use it anymore, development has stalled), feel free to submit a PR to get the info you need.

[2021-09-03 15:59] Rua commented on #214
Unfortunate to hear that development has stalled. Is the DR still being actively maintained?

[2021-09-04 08:06] Rua opened #215 "Store all instructions in one `Vec`?"
In my code I'm looking to make a lookup table of all ids in the module, with the place in the module where it's defined. But because the data representation splits instructions by section, it's not as easy to identify a specific instruction. You'd have to store the section, function and block along with the instruction index, then there's some fiddly logic to look the instruction up again.

I prop

[2021-09-05 18:43] MarijnS95 commented on #214
The DR is maintained as much as its users (ie. [rust-gpu](https://github.com/EmbarkStudios/rust-gpu)) need new/changed features; in that sense this repo is in "maintenance mode" rather than active development.

[2021-11-16 15:26] bjorn3 opened #220 "LiftContext::lift_op responsible for ~25% of the generated llvm ir"
[code]

I wonder if it would be possible to have all operand matches of all instructions with the same "function signature" be grouped together. Something like:

[code]

instead of

[code]

[2021-11-22 16:45] msiglreith opened #225 "spirv: Vulkan SDK based versioning"
The current SPIR-V version used is 1.5.4 which is almost 1 year old. With the latest Vulkan SDK, SPIR-V headers are tagged with the SDK version, which should update more regularly. This couples it more with the Vulkan version scheme tho.

Latest: https://github.com/KhronosGroup/SPIRV-Headers/releases/tag/sdk-1.2.198.0

[2021-11-22 16:55] MarijnS95 commented on #225
@msiglreith Thanks! Blame https://github.com/KhronosGroup/SPIRV-Headers/issues/199 for not being pinged about this release! I have sneakily been keeping this up to date in https://github.com/gfx-rs/rspirv/pull/226 - still needs one clippy/check fix, but it's already usable.

[2021-11-22 18:05] MarijnS95 commented on #225
As for basing our version on the SDK, we've intentionally not done that when restarting with the `spirv` crate because of https://github.com/gfx-rs/rspirv/issues/196 - we cannot restart counting all over again for the `rspirv` crate either. The main problem here is that our API (what we generate and write by hand) may change regardless of what changed in the SDK release. Hence we use "version meta

[2021-11-22 18:39] msiglreith commented on #225
The last part was mostly related to tying it closer to Vulkan as main consumer/driving force for SPIR-V modules, in case this is not desired. As the current version scheme is more general purpose (ie OpenCL).
For me the `sdk-1.2.198` is fine - happy to have access to some newer SPIR-V operands :)

[2021-11-22 18:42] MarijnS95 commented on #225
I personally don't really mind, just happy SPIRV-Headers finally starts tagging their commits after a massive period of silence.

For (r)spirv we'll just keep following the semver we got going already, with the `+sdk-1.2.182` version metadata appended :)

[2021-12-01 22:14] kvark opened #227 "Disassembling constant literals is broken"
Looking at the disassembler logic, it prints out operands without any context. So for constant literals, it just prints them as a sequence of `u32`. This doesn't work for negative integers, and it likely breaks on 64-bit types.

See [shader playground](https://shader-playground.timjones.io/c6b6f3ae081a8a79b75e917520ca6649):

Downloading the binary and running it through `dis` in this repo gives me

[2022-03-28 19:39] schwa423 opened #230 "LICENSE files in package subdirs"
### Background:
Hello, the Fuchsia project vendors crates from crates.io, and if the crate doesn't have a LICENSE (or LICENSE-APACHE, etc.) file then a script attempts to find such a file in the GitHub repo. Recently, we've been throttled by GitHub for making too many requests within a time window.

### Request:
Could you please add LICENSE-* files to the package subdirectories, specifically `spir

[2022-03-28 21:16] MarijnS95 commented on #230
The `+` encodes [version metadata](https://doc.rust-lang.org/cargo/reference/resolver.html#version-metadata), in this case SPIR-V standard version 1.5.4 that the `spirv` crate was generated from.

[2022-03-28 22:16] schwa423 commented on #230
Thanks for explaining.  That being the case, I should have suggested `0.2.1+1.5.4` for the new crate version.

[2022-03-29 16:48] schwa423 commented on #230
BTW, I edited the issue description with a link to our licensing policy.

[2022-03-30 10:23] supervacuus commented on #227
Hi, I had a brief look into this and wondered whether to fix it by adding signed/unsigned integer literals to the parser. Right now, the parser discards the sign of the tracked type when parsing literals:

https://github.com/gfx-rs/rspirv/blob/master/rspirv/binary/parser.rs#L312-L318

Generating signed integer literals at this point and correctly applying them throughout the code would fix this is

[2022-04-03 21:37] supervacuus commented on #227
I've added a PR which only touches the disassembler. Modifying the parser as proposed above will break client code, if it expects matches on `LiteralIntXX` to mean all (= signed + unsigned) integer literals in the binary.

If breaking client code is okay for the convenience of no longer needing to track `OpTypeInt`, then I can create a very drafty alternative PR. But reading through your other iss

[2022-04-16 11:39] teoxoy opened #232 "Update spirv's version of bitflags to 1.0.4"
Importing the bitflags macros as seen below requires bitflags 1.0.4 (see https://github.com/bitflags/bitflags/releases/tag/1.0.4).

https://github.com/gfx-rs/rspirv/blob/5947f01b42c62ff2515ce1afb4ea4e5cdc20076c/spirv/lib.rs#L12

Stumbled across this while trying to fix naga's deps minimal versions.

[2022-04-18 11:17] #227 closed

[2022-04-18 11:18] #232 closed

[2022-07-07 20:09] p3t3rix opened #236 "Multiple operations with same opcode"
Currently multiple ops with the same opcode get generated in cases where an extension gets included in KHR extensions.
Example in autgent_context.rs:
5334u32 => Ok(ops::Op::ReportIntersectionNV
5334u32 => Ok(ops::Op::ReportIntersectionKHR

As just ignoring the issue seems out of question (https://github.com/gfx-rs/rspirv/pull/235#issuecomment-1177595232), we need a different solution to fix this.

[2022-07-08 08:40] MarijnS95 commented on #236
To clarify my stance here, the CI being green should imply some form of legitimacy. If we start ignoring sensible errors - even if they may seem rather harmless on the surface - a green CI becomes more and more meaningless in my eyes.

Again these warnings aren't the end of the world and I haven't investigated whether they could really be harmful, they are at least confusing.

For example:

[code]

[2022-07-08 08:44] MarijnS95 commented on #236
This was already thought of earlier :grimacing::

https://github.com/gfx-rs/rspirv/blob/4f408eb9972ba30fc260652bcf60f8cdf33843d3/autogen/src/sr.rs#L537-L538

[2022-07-08 09:30] msiglreith commented on #236
One more occurrence for reference
https://github.com/gfx-rs/rspirv/blob/4f408eb9972ba30fc260652bcf60f8cdf33843d3/autogen/src/main.rs#L46-L49

[2022-07-08 09:31] MarijnS95 commented on #236
:+1:

It's funny because identical warnings are already ignored by `clippy::unreachable_patterns`, and different ones now show up as `clippy::match_overlapping_arm` (which is surprisingly not mentioned in the title/commit message).

[2022-10-06 17:28] #16 closed

[2022-10-14 20:03] ErichDonGubler commented on #196
Given that #197 is closed now, does that this mean issue is resolved?

[2022-10-27 03:55] #196 closed

[2022-10-27 09:48] MarijnS95 commented on #225
@msiglreith This issue is resolved now that we moved from [`spirv_headers`](https://crates.io/crates/spirv_headers) to [`spirv`](https://crates.io/crates/spirv), right? We have our own versioning scheme now so that breaking changes on the Rust side are properly separated from the SPIR-V headers (we'll have to do a breaking bump when they do a breaking bump though), and the version metadata "field"

[2022-10-27 10:12] msiglreith commented on #225
Right thanks, this was more about keeping the source more in-sync with the SPIRV changes given the SPIRV release cycle were very long

[2022-10-27 10:12] #225 closed